@use '../abstracts/variables' as *;

.card {
  font-family: 'Poppins', sans-serif;
  background-color: $white;
  border-radius: 25px;
}

.card-heading,
.card-body {
  padding: 16px;
}

.card-heading {
  padding-bottom: 0px;
}

.card-body {
  padding-bottom: 18px;
}

.card-heading .card-subtitle {
  font-family: 'Prompt', sans-serif;
  color: $light-grey;
  font-weight: 600;
  text-transform: uppercase;
}

.card-heading .card-title {
  color: $off-black;
  /* font-weight: 600; */
  font-size: 28px;
  /* text-transform: uppercase; */
}

.card-image {
  width: 100%;
  height: 35vh;
  max-height: 560px;
  object-fit: cover;
  object-position: center;
}

.card.shadow {
  box-shadow: 1px 2px 10px 0px #00000035;
}

.card-text {
  font-size: 14px;
}

.card.backdrop {
  position: relative;
}

.card.backdrop::before {
  content: '';
  display: block;
  width: 94%;
  height: 100%;
  background: $silver;
  position: absolute;
  z-index: -1;
  left: 3%;
  top: 8px;
  border-radius: 25px;
}

@media (min-width: 768px) {
  .flex-image-card .card-image {
    width: 50%;
    /* height: 100%; */
    margin: auto;
  }
}
